:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

:host ::ng-deep .trigger:hover {
  color: #1890ff;
}

:host ::ng-deep .logo {
  height: 32px;
  margin: 16px;
}

.logo {
  overflow: hidden;
  background-image: url(/assets/images/logo.png);
  background-repeat: no-repeat;
  background-position: -1px -1px;
  background-size: 77px 34px;
}